<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/slide2.jpg"></ion-img>

  <ion-card>
    <ion-item fill="outline" slot="end"><h3 color="primary">Bhilwara Info Tech</h3></ion-item>
   
     <p padding> This is content, without any paragraph or header tags,
      within an ion-card-content element. This is content, without any paragraph or header tags,
      within an ion-card-content element.</p>
    
    
    
  </ion-card>
  <ion-card>
    <ion-item>
       <p color="blue"> Bhilwara - Wikipedia</p>
    </ion-item>
  
    <ion-card-content>
        https://en.wikipedia.org/wiki/Bhilwara<br />
        Bhilwara /biːlˈvɑːrə/ is a city in the Mewar region of Rajasthan, India. It is the smallest city in the Indian state of Rajasthan.
        <br />‎History · ‎Demographics · ‎Economy · ‎Infrastructure
    </ion-card-content>
  </ion-card>

</ion-content>